/* --- Generic --- */
body {
  min-width: 0 !important;
}
p {
  max-width: 40em;
}
figure img {
  max-width: 100%;
}
pre, .pre {
  display: inline-block;
  margin: 0 2px !important;
  padding: 2px 3px !important;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
pre .class, .pre .class {
  color: green;
}
.Card pre, .Card .pre {
  background-color: #eee;
}
.Card b pre { /* fix for currency amount formatting */
  background-color: #fff;
}




/* --- Grid system responsive 'fixes' --- */
section > .gw {
  padding-left: 80px;
  padding-right: 80px;
}
@media screen and (max-width: 768px) {
  .gw .g {
    width: 100% !important;
  }
}




/* --- Header --- */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}




/* --- Menu --- */
@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    top: 0;
    right: 0;
  }
}




/* --- Main --- */
main {
  min-height: calc( 100vh - 160px ); /* 100% - roughly header and footer heights */
}
main a {
  font-weight: bold;
  /*color: #fd5348;*/
  opacity: 0.75;
}
main a:hover {
  opacity: 1;
}



/* Navigation
-------------------------------------------------- */
.menu a {
  display: block;
  font-weight: bold;
  color: #403637;
}
.menu a:hover {
  color: #fd5348;
  text-decoration: none;
}
.menu .active {
  color: #fd5348;
}
.menu li {
  list-style: none;
}
.menu > li {
  position: relative;
}
.menu .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  min-width: 100%;
  background: #fff;
  display: none;
}
.menu .submenu a {
  font-size: .9em;
  white-space: nowrap;
}
@media screen and (min-width: 40em) {
  .logo {
    float: left;
  }
  .menu {
    float: right;
    margin-right: -1em;
  }
  .menu > li {
    float: left;
  }
  .menu > li > a {
    padding: .35em 1em;
    border: 0;
  }
  .menu > li:hover .submenu {
    display: block;
  }
  .menu > li:hover > a .fa-angle-down:before {
    content: "\f106";
  }
}



/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  background-color: #373636;
  color: #999593;
}
.footer a {
  color: #ccc;
}